@import 'variables';
.table-custom{
    width: $tableCustomWidth;
    border-collapse: $tableCustomCollapse;
    border-spacing: $tableCustomSpacing;
    thead{
        background: $tableCustomTheadBg;
        color: $tableCustomTheadColor;
        tr{
            letter-spacing: $tableCustomTheadTrSpacing;
        }
    }
    tbody{
        tr{
            color: $tableCustomTbodyColor;
            background-color: $tableCustomTbodybg;
        }
       

    }
    //Qui inserisco la regolare per .table-custom.alternative-row
    &.alternative-row{
        tbody{
            tr:nth-child(odd){
                color: $tableCustomTbodyColorAlternative;
                background-color: $tableCustomTbodybgAlternative;
            }
        }
    }
    
}

