$tableCustomWidth: 100% !default;
$tableCustomCollapse: separate !default;
$tableCustomSpacing: 0 6px !default;
$tableCustomTheadBg: #f5f6f9 !default;
$tableCustomTheadColor: #241d8c !default;
$tableCustomTheadTrSpacing: 1px !default;
$tableCustomTbodybg: #fff !default;
$tableCustomTbodyColor: #445167d9 !default;
$tableCustomTbodybgAlternative: #CCC !default;
$tableCustomTbodyColorAlternative: #445167d9 !default;
